/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

/* HEADER */

.header{

    background:#6a0707;

    color:white;

    text-align:center;

    padding:20px;
}

.nav-links{

    list-style:none;

    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:15px;
}

.nav-links a{

    text-decoration:none;

    color:white;

    transition:0.3s;
}

.nav-links a:hover{

    color:gold;
}

/* SURVEY SECTION */

.survey-section{

    width:700px;

    margin:50px auto;

    background:white;

    padding:30px;

    animation:slideUp 1s ease;
}

.survey-section h2{

    text-align:center;

    color:#6a0707;

    margin-bottom:25px;
}

/* FORM */

.survey-form{

    display:flex;

    flex-direction:column;
}

.survey-form label{

    margin-top:15px;

    margin-bottom:10px;

    font-weight:bold;
}

/* RADIO */

.radio-group{

    display:flex;

    gap:15px;

    margin-bottom:20px;
}

/* SELECT */

select{

    padding:12px;

    border:1px solid #ccc;

    transition:0.3s;
}

/* TEXTAREA */

textarea{

    padding:12px;

    resize:none;

    border:1px solid #ccc;

    transition:0.3s;
}

/* FOCUS EFFECT */

select:focus,
textarea:focus{

    outline:none;

    border-color:#6a0707;

    box-shadow:0 0 5px rgba(106,7,7,0.4);
}

/* BUTTON */

.btn{

    margin-top:25px;

    padding:12px;

    border:none;

    background:#6a0707;

    color:white;

    cursor:pointer;

    transition:0.3s;
}

.btn:hover{

    background:#8f1111;

    transform:translateY(-3px);
}

/* FOOTER */

footer{

    background:#111827;

    color:white;

    text-align:center;

    padding:20px;

    margin-top:40px;
}

/* ANIMATION */

@keyframes slideUp{

    from{

        opacity:0;

        transform:translateY(50px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

/* RESPONSIVE */

@media(max-width:768px){

    .nav-links{

        flex-direction:column;

        gap:10px;
    }

    .survey-section{

        width:95%;
    }

    .radio-group{

        flex-direction:column;
    }
}