/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

/* HEADER */

.header{

    background:#6a0707;

    color:white;

    text-align:center;

    padding:20px;
}

.nav-links{

    list-style:none;

    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:15px;
}

.nav-links a{

    text-decoration:none;

    color:white;

    transition:0.3s;
}

.nav-links a:hover{

    color:gold;
}

/* VOTE SECTION */

.vote-section{

    width:80%;

    margin:50px auto;

    text-align:center;

    animation:fadeIn 1s ease;
}

.vote-section h2{

    margin-bottom:30px;

    color:#6a0707;
}

/* CANDIDATE */

.candidate{

    background:white;

    padding:25px;

    margin-bottom:30px;

    border:1px solid #ddd;
}

.candidate img{

    width:220px;

    height:220px;

    object-fit:cover;

    transition:0.4s;
}

/* IMAGE HOVER */

.candidate img:hover{

    transform:scale(1.08);
}

.candidate h3{

    margin-top:15px;

    color:#6a0707;
}

.candidate p{

    margin:15px 0;
}

.candidate label{

    margin-left:8px;
}

/* BUTTON */

.btn{

    background:#6a0707;

    color:white;

    border:none;

    padding:12px 25px;

    cursor:pointer;

    transition:0.3s;
}

.btn:hover{

    background:#8f1111;

    transform:translateY(-3px);
}

/* FOOTER */

footer{

    background:#111827;

    color:white;

    text-align:center;

    padding:20px;

    margin-top:40px;
}

/* ANIMATION */

@keyframes fadeIn{

    from{

        opacity:0;
    }

    to{

        opacity:1;
    }
}

/* RESPONSIVE */

@media(max-width:768px){

    .nav-links{

        flex-direction:column;

        gap:10px;
    }

    .vote-section{

        width:95%;
    }

    .candidate img{

        width:180px;

        height:180px;
    }
}